/*Fonts*/
@font-face {
    font-family: HelveticaNeue-Thin;
    src: url(../../fonts/HelveticaNeue-Thin.otf);
}


/*Body Part*/
html{
    width: 100%;
    height: 100%;
    scroll-behavior:smooth;
}
body {
    width:100%;
    height:100%;
    font-size:14px;
    font-weight:500;
    font-style:normal;
    letter-spacing:1.2px;
    background:#fafafa;
    font-family:'Roboto', sans-serif;
}
a{
    color:#000000;
    font-size:16px;
    font-weight:500;
    letter-spacing:0.2px;
}
a:hover{
    text-decoration:none;
}
.form-control:focus{
    border-color:none;
    box-shadow:none;  
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition:background-color 5000s ease-in-out 0s;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    margin: 0 !important;
    -webkit-appearance: none !important;
    -moz-appearance:textfield !important;
}

/*Header Part*/
#header-part .navbar-custom{
    padding:0px 0px;
    background-color:#ffffff;
    border-bottom:2px solid #fafafa; 
}
#header-part .navbar-custom img{
    height:75px;
}
#header-part .navbar-custom .nav-item{
    margin:0px 5px;
}
#header-part .navbar-custom .nav-item .nav-link{
    color:#000000; 
    font-size:14px;
    font-weight:500;
    font-style:normal;
    letter-spacing:1.4px; 
    padding:14px 10px; 
}
#header-part .navbar-custom .nav-item .nav-link:hover{
    color:#747474;
}
#header-part .navbar-custom .user-nav-link{
    height:50px; 
    margin:-20px 10px 0px 0px;
}
#header-part .navbar-custom .user-nav-link span{
	font-size:10px;
}
#header-part .navbar-custom .user-nav-link .test-mode-circle{
    width: 8px;
    height: 8px;
    margin: 1px 0px;
    border-radius: 50%;
    display: inline-block;
    background-color: #dc3545;
}
/*Project Header*/
#header-part.project-header .navbar-custom{
    background-color:#0f2130;
    border-bottom:1px solid #5c89bd; 
}

/*Footer Part*/
footer{
    background:#fafafa; 
    padding-top:0px; 
    padding-bottom:25px;
}
footer .container h4{
    color:#747474;
    font-size:14px;
    text-align:left;
}
footer .footer-content li{
    padding:8px 0px;  
}
footer .footer-content a{
    font-size:14px;
    letter-spacing:0.2px; 
    padding:0px 0px;  
}
footer .footer-content a:hover{
    color:#747474;  
}
footer .footer-social-content{
    margin:0px 2px;
    padding:0px 0px; 
}
footer .footer-social-content ul{
    margin:0px 0px;
}
footer .footer-social-content li{
    margin:0px 5px;
}
footer .footer-social-content .fab, 
footer .footer-social-content .fas{
    font-size:17px;
    color:#2C85C9;
}
footer .copyright-content p{
    color:#747474;
    font-size:14px;
    margin:0px 0px; 
}
/*Project Footer*/
footer.project-footer{
    background-color:#0f2130;
    padding:13px 5px; 
}
footer.project-footer .footer-social-content .fab, 
footer.project-footer .footer-social-content .fas{
    color:#FFFFFF;
}
footer.project-footer .copyright-content p{
    color:#FFFFFF;
}

/*Privacy*/
#privacy-part{
    width:100%;      
}
/*Resource*/
#privacy{
    background:#ffffff;
}
#privacy .container{
    padding:20px 0px;
}
#privacy .privacy-sidebar{
    position:sticky;
    top:100px;
    overflow-y:auto;
    height: calc(100vh - 90px);
    scroll-behavior: smooth;
}
#privacy .privacy-sidebar ul{
    list-style-type: none;
    padding-left: 0px;
}
#privacy .privacy-sidebar ul a{
    font-size: 14px;
    color: #747474;
}
#privacy .privacy-sidebar ul li:hover{
    cursor: pointer;
    background-color: #F0EFEF;
}
#privacy .privacy-sidebar ul a:hover{
    color: #5c98bd;
}
#privacy .privacy-active{
    background-color:#d0d0d0;
}
#privacy .privacy-block{
    padding:10px 0px;
    margin-top: calc(-100vh + 50px);
}
#privacy .privacy-block h3{
    text-align:left;  
}
#privacy .privacy-content:target::before{
  content: "";
  display: block;
  height: 90px;
  margin: -90px 0 0;
}
#privacy .privacy-content h4{
    color:#5c98bd;
    font-weight:bolder; 
    text-align:left;  
}
#privacy .privacy-content p{
    text-align:justify;
    font-size: 14px;  
}
#privacy .privacy-content ul{
    padding-left: 15px;   
}
/*End Privacy*/

/*Alert*/
#alert{
    width:100%;
}
#alert .container{
    padding:0px 0px 0px 0px; 
}
#alert .alert{
    top:90px;
    right:0px;
    width:350px;
    z-index:1;
    position:fixed;
}
#alert .alert-success{
    color:#155724;
    background:#d4edda;
    border:1px solid #d4edda;
}
#alert .alert-danger{
    color:#a94442; 
    background:#f2dede;
    border:1px solid #f2dede;
}
#validation-msg{
    width:280px;
    z-index:1;
    right:0px;
    top:90px; 
    position:fixed;
    font-size:13px; 
}
#validation-msg .alert,
#alert .alert{
    border-radius:0px; 
    border-top-left-radius:3px;    
    border-bottom-left-radius:3px;    
}
#alert-message{
    width:350px;
    z-index:1;
    right:0px;
    top:90px; 
    position:fixed;
}
#alert-message .alert,
#alert .alert{
    border-radius:0px; 
    border-top-left-radius:3px;    
    border-bottom-left-radius:3px;    
}
#validation-message{
    width:350px;
    z-index:1;
    right:0px;
    top:90px; 
    position:fixed;
}
#validation-message .alert,
#alert .alert{
    border-radius:0px; 
    border-top-left-radius:3px;    
    border-bottom-left-radius:3px;    
}

/*General CSS*/
#wrapper{
    padding:86px 0px 10px 0px; 
}
h1,h2,h3,h4,h5,h6{
    text-align:center; 
}
h1{
    font-family: 'Roboto', sans-serif; 
}
h2{
    font-family: HelveticaNeue-Thin;
}
h3{
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size:24px;
    letter-spacing: 1px;
    color:#5c98bd;
    margin:20px 0px; 
    font-family: HelveticaNeue-Thin;
}
h4{
    font-family:HelveticaNeue-Thin;
    font-size:16px;
    font-weight:600;
    letter-spacing:0.5px;
    text-align:center;    
}
p{
    font-style: normal;
    line-height:24px;
    font-size:16px;
    font-weight:100; 
    letter-spacing:1.2px;
    color:#000000;
    text-align:justify;
    font-family:'Roboto', sans-serif;
}
small{
    font-size: 14px;
    letter-spacing:0.2px; 
}
table th{
    font-size:16px;
    font-weight:500;  
}
.w-70{
    width: 70%!important;
}

/*Buttons*/
.btn-primary:hover,.btn-primary:focus,.btn-primary:active, 
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover{
    box-shadow: none!important;
    outline: 0;
}
.btn-primary.disabled, 
.btn-primary:disabled,
.btn-primary:disabled:hover{
    color:#ffffff;
    border-color:#5c98bd;
    background-color:#5c98bd;
}
.page-link, .page-link:focus{
    box-shadow: none!important;
    outline: 0;
}
.form-control,
.form-control:focus{
    color:#000;
    font-size:15px;
    font-weight:500;
    padding:10px 10px; 
    border-radius:5px;
    box-sizing:border-box;
    border: 1px solid #979797;
}
.Pbtn, .Pbtn:active, .Pbtn:focus, 
.Pbtn:visited, .Pbtn:focus-within,
.Pbtn:not(:disabled):not(.disabled).active, 
.Pbtn:not(:disabled):not(.disabled):active{
    width:100%;
    font-size:14px;
    font-weight:500;
    font-style:normal;
    padding:10px 10px;
    border-radius:5px;
    letter-spacing:0.4px;
    color:#ffffff;
    border-color:#5c98bd;
    background-color:#5c98bd;
}
.Pbtn:hover{
    color:#5c98bd;
    border-color:#5c98bd;
    background: transparent;
}
.Pbtn-rounded, .Pbtn-rounded:active, .Pbtn-rounded:focus, 
.Pbtn-rounded:visited, .Pbtn-rounded:focus-within,
.Pbtn-rounded:not(:disabled):not(.disabled).active, 
.Pbtn-rounded:not(:disabled):not(.disabled):active{
    width:100%;
    font-size:14px;
    font-weight:500;
    font-style:normal;
    padding:10px 10px;
    border-radius:30px;
    letter-spacing:0.4px;
    color:#ffffff;
    border-color:#5c98bd;
    background-color:#5c98bd;
}
.Pbtn-rounded:hover{
    color:#5c98bd;
    border-color:#5c98bd;
    background: transparent;
}
.Abtn, .Abtn:focus, .Abtn:active
.Abtn:visited, .Abtn:focus-within,
.Abtn:not(:disabled):not(.disabled).active, 
.Abtn:not(:disabled):not(.disabled):active{
    width:100%;
    font-size:14px;
    font-weight:500;
    font-style:normal;
    letter-spacing:0.4px;
    padding:10px 10px;
    border-radius:5px;
    color:#5c98bd;
    background:transparent;  
    border: 1px solid #5c98bd;
}
.Abtn:hover{
    color:#ffffff;
    background:#5c98bd;    
    border: 1px solid #5c98bd;
}
.bootbox-accept, .bootbox-accept:focus, .bootbox-accept:active
.bootbox-accept:visited, .bootbox-accept:focus-within,
.bootbox-accept:not(:disabled):not(.disabled).active, 
.bootbox-accept:not(:disabled):not(.disabled):active{
    font-size:14px;
    font-weight:500;
    font-style:normal;
    padding:10px 10px;
    border-radius:5px;
    letter-spacing:0.4px;
    color:#ffffff;
    border-color:#5c98bd;
    background-color:#5c98bd;
}
.bootbox-accept:hover{
    color:#5c98bd;
    border-color:#5c98bd;
    background: transparent;
}
.bootbox-cancel, .bootbox-cancel:focus, .bootbox-cancel:active
.bootbox-cancel:visited, .bootbox-cancel:focus-within,
.bootbox-cancel:not(:disabled):not(.disabled).active, 
.bootbox-cancel:not(:disabled):not(.disabled):active{
    font-size:14px;
    font-weight:500;
    font-style:normal;
    letter-spacing:0.4px;
    padding:10px 10px;
    border-radius:5px;
    color:#5c98bd;
    background:transparent;  
    border: 1px solid #5c98bd;
}
.bootbox-cancel:hover{
    color:#ffffff;
    background:#5c98bd;    
    border: 1px solid #5c98bd;
}
.google-btn span,
.fb-btn span{
    color:#111111;
    font-size:13px; 
}
.vr-divider{
    top:0;
    right:0;
    bottom:0;
    width:1px;
    position:absolute;
    background:#979797;
}
.hr-divider{
    border: 1px solid #979797;
}
.danger-input-outline{
    border:1px solid red;
    box-shadow: 1px 2px 15px #c3a9a9;
}

/*Modal Part*/
.modal .modal-content{
    margin:0px 30px;
    padding:0px 10px;          
}
.modal .register-content,
.modal .login-content,
.modal .material-modal-content,
.modal .address-modal-content{
    background:#fafafa; 
}
#registerModal{
    overflow:auto;
}

/*Loading Animation*/
#loading-part{
    display:none;
    background:rgba(0,0,0,0.3); 
    position:fixed;
    bottom:0; 
    left:0; 
    top:0;
    width:100%; 
    z-index:100;  
}
#loading-part .loading-content {
    top:50%;
    width: 40px;
    height: 40px;
    margin: 100px auto;
    position:relative; 
    transform:translateY(-20px); 
}
.loading-content .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #5c98bd;
    float: left;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.loading-content .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    background-color:#5c98bd !important;
}
.loading-content .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    background-color:#123c69 !important;
}
.loading-content .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    background-color:#123c69 !important;
}
.loading-content .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    background-color:#123c69 !important;
}
.loading-content .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    background-color:#5c98bd;
}
.loading-content .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    background-color:#123c69;
}
.loading-content .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; 
    background-color:#123c69;
}
.loading-content .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; 
    background-color:#123c69;
}
.loading-content .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    background-color:#5c98bd;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    } 
}    
/*End Loading Animation*/


