h1{
    opacity:0.95;
    font-size: 65px; 
    font-weight:500;
    margin-bottom:35px;
    letter-spacing:1.8px;
}
h4{
    font-size:18px; 
    font-weight:600;
    letter-spacing:2px;
    line-height:28px;  
}

/****************/
/*Home Part*/
#home-part{
    width:100%;      
    background:#fafafa; 
}
/*Home*/
#home{
    background-color:#fafafa;
}
#home .container{
    padding:10px 20px 5px 20px;
}
#home h1{
    color:#5c98bd; 
    text-align:left;
}
#home p{
    color:#000000;
    margin:0px 0px; 
}
#home .Pbtn{
    width:unset;
    border-radius:30px;
    padding-left:25px;
    padding-right:25px;  
}
#home .Abtn{
    width:unset;
    border-radius:30px;
    padding-left:40px;
    padding-right:40px;
}

/*How It Works*/
#how-it-works{
    background:#ffffff; 
    clip-path: polygon(0% 0%, 100% 20%, 100% 100%, 0% 80%);
}
#how-it-works .container{
    padding:90px 20px 120px 20px; 
}
#how-it-works .how-it-works-card{
    width:240px;
    height:260px;
    box-shadow: 1px 2px 20px #ccc;  
}
#how-it-works .how-it-works-card img{
    height: 45px;
}
#how-it-works .how-it-works-card h4{
    line-height:24px; 
}
#how-it-works .how-it-works-card hr{
    border: 1px solid #5c89bd;
    margin-top:5px;
    margin-bottom:5px;
    width:30%;
}
#how-it-works .how-it-works-card small{
    font-size:80%;
    font-weight:400; 
    text-align:center; 
    letter-spacing:0px;  
    padding:10px 0px;
}
#how-it-works .how-it-works-content h3{
    padding-left:10px;
    text-align:left; 
    border-left:4px solid #5c89bd;
}
#how-it-works .how-it-works-content p{
    text-align:left; 
    font-size: 14px;
    letter-spacing:1px;
}
#how-it-works .Pbtn{
    border-radius:30px;
}
#how-it-works .Pbtn:hover{
    color:#5c89bd;
    border:1px solid #5c89bd;   
}
/*Testimonials*/
#testimonial{
    background:#fafafa;
}
#testimonial .container{
    padding:0px 20px 50px 20px; 
}
#testimonial h3{
    padding-left:10px;
    text-align:left; 
    border-left:4px solid #5c89bd;
}
#testimonial .testimonial-navigation{
    margin-top: 50px;
    max-width: 200px;
    position: relative;
}
#testimonial .testimonial-navigation p{
    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: left;
    line-height: 20px;
}
#testimonial .navigation-item{
    margin-top: 10px;
}
#testimonial .navigation-item a{
    position: relative;
    display: inline;
}
#testimonial .navigation-item img{
    width: 30px;
    border-radius: 15px;
}
#testimonial .navigation-item span:hover{
    cursor: pointer;
}
#testimonial .testimonial-content{
    margin-top: 50px;
    max-width: 200px;
    box-shadow: 1px 2px 20px #ccc;
    position: relative;
}
#testimonial .testimonial-content p{
    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: justify;
    line-height: 20px;
}
#testimonial .testimonial-profile{
    margin-top:-15px; 
}
#testimonial .testimonial-content .rating-starts{
    width: 60px;
}
#testimonial .testimonial-content .testimonial-quote{
    position: absolute;
    width: 40px;
    top: -20px;
    left:0;
    right: 0;
    margin-left: auto;
    margin-right: auto; 
}
#testimonial .testimonial-content .testimonial-profile h4{
    color:#5c98bd; 
}
/*Clients*/
#home-clients{
    background:#fafafa;
    /*background:#ffffff;*/
}
#home-clients .container{
    padding:40px 0px 40px 0px; 
}
#home-clients .home-clients-block{
    padding:30px 0px; 
}
#home-clients .home-clients-content:nth-child(1){
    padding:0px 30px 0px 0px; 
}
#home-clients .home-clients-content{
    padding:0px 30px 0px 30px; 
}
#home-clients .home-clients-content:nth-child(5){
    padding:0px 0px 0px 30px; 
}
/*Subscription*/
#subscription{
    background-color:#5c89bd; 
}
#subscription .container{
    padding:50px 20px 50px 20px; 
}
#subscription h3{
    color:#ffffff; 
    text-align:left;
}
#subscription p{
    color:#ffffff;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: justify;
    line-height: 20px;
}
#subscription .Pbtn{
    color:#5c89bd; 
    border-radius:30px;
    background:#ffffff; 
    border:1px solid #ffffff;
}
#subscription .Pbtn:hover{
    color:#ffffff;
    background:transparent;
    border:1px solid #ffffff;   
}
#subscription input{
    width: 100%;
    height: 40px;
    color:#ffffff;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
    padding-left: 20px;
    background-color:transparent;
}
#subscription input::placeholder{
    color: #ffffff;
    font-size: 12px;
}
#subscription input:focus{
    outline: none;
    color: #ffffff;
}
#subscription img{
    height: 300px;
}

/*#home-part{
    width:100%;      
}*/
/*Old Home*/
/*#home-old{
    width: 100%;
    height:495px; 
    background:url(../../../../assets/images/bg-home-old.jpg);
    background-size: cover;
    background-position: center;
}
#home-old .container{
    padding:20px 0px;
}
#home-old .home-content{
    text-align:left;
    padding-left:50px;   
    padding-top:20px; 
}
#home-old .home-content h1{
    margin-bottom:20px; 
    text-align:left; 
}
#home-old .home-content h4{
    text-align:left;
    padding-top:15px; 
    padding-bottom:30px;
}*/
/*Industry*/
/*#industry-old{
    width:100%;  
}
#industry-old .container{
    padding:20px 20px;  
}
#industry-old .container h3{
    padding:10px 0px;   
}
#industry-old .industry-content{
    padding:10px 0px;
    text-align:center;            
}
#industry-old .industry-content img{
    padding:10px 0px;            
}
#industry-old .industry-content h4{
    padding:10px 0px;
}*/
/*How It Work*/
/*#how-it-work-old{
    width:100%; 
    background:#ffffff;
}
#how-it-work-old .container{
    padding:20px 20px; 
}
#how-it-work-old .container h3{
    padding:10px 0px;   
}
#how-it-work-old .how-it-work-content{
    padding:40px 40px;
    text-align:center;            
}
#how-it-work-old .how-it-work-content h4{
    color:#5c98bd; 
    text-align:left;
    padding:10px 0px;             
}
#how-it-work-old .how-it-work-image{
    padding:0px 15px;
    text-align:center;            
}*/
/*Info*/
/*#info-old{
    width:100%; 
}
#info-old .container{
    padding:20px 20px;  
}
#info-old p{
    text-align:center; 
}*/
/*End Old Part*/
/****************/

/*Index*/
/*Home1 */
/*#home{
    width:100%;
    height:550px; 
    background:url(../../../../assets/images/bg-home.png);
    background-size: cover;
    background-position: center;
}
#home .container{
    padding:20px 0px;
}
#home .home-content{
    text-align:left;
    padding-left:50px;   
    padding-top:40px;
}
#home .home-content h1{
    color:#5c98bd;
    font-size:74px; 
    margin-bottom:20px; 
    text-align:left; 
}
#home .home-content h4{
    text-align:left;
    padding-top:15px; 
    padding-bottom:30px;
}
#home .home-content .Pbtn-one{
    color:#ffffff;
    background:#5c98bd;
    border:1px solid #5c98bd; 
}
#home .home-content .Pbtn-one:hover{
    color:#111;
    background: transparent;
    border: 1px solid #5c98bd; 
}
#home .home-content .Pbtn-two{
    color:#111;
    background: transparent;
    border: 1px solid #5c98bd; 
}
#home .home-content .Pbtn-two:hover{
    color:#ffffff;
    background:#5c98bd;
    border:1px solid #5c98bd; 
}*/
/*How It Work*/
/*#how-it-works{
    width:100%; 
    background:#5c98bd;
}
#how-it-works .container{
    padding:70px 20px;
}
#how-it-works .container h3{
    color:#ffffff;
    padding:0px 0px;   
    text-align:center;
}
#how-it-works .container p{
    color:#ffffff;
    padding:10px 0px;
    text-align:center;   
}
#how-it-works .how-it-work-content{
    padding:10px 0px;
    text-align:center;            
}
#how-it-works .how-it-work-content h4{
    color:#ffffff; 
    padding:10px 0px;
    text-align:center;              
}
#how-it-works .how-it-work-content .btn-light{
    color:#ffffff;
    background:transparent;               
    border:none;
}
#how-it-works .how-it-work-content .btn-light:hover{
    color:#111111;
}*/
/*Home Design Flow*/
/*#home-design-flow{
    width:100%;
}
#home-manufacture-flow{
    width:100%; 
    background:#ffffff;
}
#home-design-flow .container,
#home-manufacture-flow .container{
    padding:75px 20px;
}
#home-design-flow .container h3{
    padding:0px 0px;   
    text-align:center;
    line-height:34px; 
}
#home-manufacture-flow .container h3{
    padding:0px 0px;   
    text-align:center;
    line-height:34px;
}
#home-design-flow .container h4,
#home-manufacture-flow .container h4{
    color: #5c98bd;
    padding:0px 0px;
    text-align:center;   
}
#home-design-flow .container p,
#home-manufacture-flow .container p{
    padding:0px 0px;
    text-align:center;   
}
#home-design-flow .home-design-flow-content,
#home-manufacture-flow .home-manufacture-flow-content{
    padding:0px 0px;
    text-align:center;            
}
#home-design-flow .Pbtn,
#home-manufacture-flow .Pbtn{
    color:#111;
    background: transparent;
    border: 1px solid #5c98bd; 
}
#home-design-flow .Pbtn:hover,
#home-manufacture-flow .Pbtn:hover{
    color:#ffffff;
    background:#5c98bd;
    border:1px solid #5c98bd; 
}*/
/*Assurance*/
/*#home-info{
    width:100%;
    height:100%; 
    background:url(../../../../assets/images/bg-info.png);
    background-size: cover; 
    background-position: center;
}
#home-info .container{
    padding:20px 20px;
}
#home-info .container h4{
    color:#ffffff;
    padding:0px 0px;   
    text-align:center;
}*/
/*End Index*/
/****************/

/****************/
/*Project Intro*/
.project-intro-content{
    text-align:center; 
    margin:5px; 
}
.project-intro-content h4{
    color:#5c98bd; 
    text-align:left; 
    padding: 20px 0px;
}
.project-intro-content p{
    height:100px; 
    padding: 10px 0px;
}
.project-intro-content.startproject-content{
    padding:20px 0px;
    text-align:center; 
}
.project-intro-content.startproject-content img{
    height:75px; 
    transition: all 0.5s;
}
.project-intro-content.startproject-content p{
    height:unset;
}
/*End Project Intro*/
/****************/

/****************/
/*Resorce Part*/
#resource-part{
    width:100%;      
}
/*Resource*/
#resource{
    width: 100%;
    opacity:0.7;
}
#resource.resource-home{
    background:url(../../../../assets/images/resource/bg-resource.png);
    background-size: cover;
    background-position: center;
}
#resource .container{
    padding:20px 0px;
}
#resource .resource-content{
    text-align:left;
    padding-left:50px;
    padding-bottom:140px; 
}
#resource .resource-content h1{
    text-align:left;
    color:#ffffff;  
    padding-top:30px; 
    padding-bottom:30px;
}
/*Resource Group*/
#resource-group{
    width:100%;
    background:#ffffff; 
}
#resource-group .container{
    padding:20px 20px;  
}
#resource-group .container h3{
    text-align:left;   
}
#resource-group .resource-group-content{
    height:280px;
    margin:10px 0px; 
    padding:10px 10px;
    text-align:center;
    border-radius:3px;
    transition:1s; 
    box-shadow:0px 0px 4px 0px rgba(0,0,0,.1);              
}
#resource-group .resource-group-content:hover{
    box-shadow: 1px 1px 10px #B6B5B5;
}
#resource-group .resource-group-content:hover h4{
    color: #17a2b8;
}
#resource-group .resource-group-content .content-body{
    height:210px;             
}
#resource-group .resource-group-content h4{
    color:#5c98bd; 
    text-align:left; 
    padding:5px 0px;   
}

/*Info*/
#resource-info{
    width:100%;
    height:100%; 
    background:url(../../../../assets/images/resource/bg-info.png);
    background-size: cover; 
    background-position: center;
}
#resource-info .container{
    padding:20px 20px;
}
#resource-info .container h4{
    color:#ffffff;
    padding:0px 0px;   
    text-align:left;
}
#resource-info .container .Pbtn-two{
    color:#111;
    border:1px solid #ffffff;
    background:#ffffff;  
}
#resource-info .container .Pbtn-two:hover{
    color:#ffffff;
    border:1px solid #5c98bd;
    background:#5c98bd;  
}

#resource-item-head{
    width: 100%;
    opacity:0.7;
}
#resource-item-head.resource-item{
    background:url(../../../../assets/images/resource/bg-resource-item.png);
    background-size: cover;
    background-position: center;
}
#resource-item-head .container{
    padding:20px 0px;
}
#resource-item-head .item-head-content{
    text-align:left;
    padding-left:50px;
    padding-bottom:40px; 
}
#resource-item-head .item-head-content h1{
    text-align:left;
    color:#ffffff;  
    padding-top:30px; 
    padding-bottom:30px;
}
/*Resource Block*/
#resource-item-block{
    width: 100%;    
    background:#fff;
}
#resource-item-block .container{
    padding:20px 20px;
}
#resource-item-block .item-block-content{
    text-align:center; 
}
#resource-item-block .item-block-content h4{
    color:#5c98bd; 
    text-align:left; 
    padding: 20px 0px;
}
#resource-item-block .item-block-content p{
    padding: 10px 0px;
}
#resource-item-block .item-block-content .center-align{
    text-align:center; 
}
#resource-item-block .item-block-image{
    text-align:center; 
}
#resource-item-block .item-block-image img{
    text-align:center; 
}
/*End Resource Part*/
/****************/


/****************/
/*About Part*/
#about-part{
    width:100%;      
}
/*Resource*/
#about{
    width: 100%;
    opacity:0.7; 
    background:url(../../../../assets/images/bg-about.png);
    background-size: cover;
    background-position: center;
}
#about .container{
    padding:20px 0px;
}
#about .about-content{
    text-align:left;
    padding-left:50px;
    padding-bottom:170px; 
}
#about .about-content h1{
    text-align:left;
    color:#ffffff;  
    padding-top:30px; 
    padding-bottom:30px;
}
/*Mission*/
#mission{
	width:100%;
    background:#ffffff;
}
#mission .mission-content{
    text-align:center;
    padding:10px 20px;
}
/*We Do */
#we-do{
    width:100%;
    background:#ffffff; 
}
#we-do .container{
    padding:20px 20px;  
}
#we-do .we-do-content{
    padding:10px 20px;
    text-align:center;            
}
#we-do .we-do-content h4{
    text-align:center; 
    padding:10px 0px;   
}
/*We Do */
#team{
    width:100%;
    background:#ffffff; 
}
#team .container{
    padding:20px 20px;  
}
#team .team-content{
    padding:10px 20px;
    text-align:center;            
}
#team .team-content img{
    height:150px;             
}
#team .team-content h4{
    color:#5c98bd; 
    text-align:center; 
    padding-top:10px;   
}
#team .team-content p{
    text-align:center; 
}
#team .img-custom{
    position:relative; 
    transition:1s;
}
#team .team-profile{
    position:absolute;
    top:50%;
    left:50%;
    color:#5c98bd; 
    display:none; 
}
#team .img-custom:hover img{
    opacity:0.1;
}
#team .img-custom:hover .team-profile{
    display:block;
    z-index:1px; 
}
/*Our Location*/
#our-location{
	width:100%;
    background:#ffffff;
}
#our-location .container{
	padding:20px 20px; 
}
#our-location .our-location-content{
    text-align:center;
    padding:10px 20px;
}
#our-location .our-location-address p{
    margin:0px 0px;
    padding:3px 0px; 
    text-align:center; 
}
/*End About Part*/
/****************/

/****************/
/*Contact Part*/
#contact-part{
    width:100%;      
}
/*Contact*/
#contact{
    width: 100%;
    opacity:0.7; 
    background:url(../../../../assets/images/bg-contact.jpeg);
    background-size: cover;
    background-position: center;
}
#contact .container{
    padding:20px 0px;
}
#contact .contact-content{
    text-align:left;
    padding-left:50px;
    padding-bottom:170px; 
}
#contact .contact-content h1{
    text-align:left;
    color:#ffffff;  
    padding-top:30px; 
    padding-bottom:30px;
}
/*Contact Address*/
#contact-address{
    width:100%;
    background:#ffffff;
}
#contact-address .contact-address-content{
    text-align:center;
    padding:15px 25px;
}
#contact-address .contact-address-content h4{
    color:#5c98bd;
    text-align:center; 
    padding:10px 0px;   
}
#contact-address .contact-address-content p{
    text-align:center; 
    margin:0px 0px;
    padding:3px 0px;   
}
#contact-address .contact-address-content iframe{
    border:0px;
    padding:0px;   
}
/*Contact Form*/
#contact-form{
    width:100%;
    background:#ffffff;
}
#contact-form .contact-form-content{
    text-align:center;
    padding:15px 25px;
}
/*End Contact Part*/
/****************/

/****************/
/*FAQ Part*/
#faq-part{
    width:100%;      
}
/*Resource*/
#faq{
    width: 100%;
    opacity:0.7; 
    background:url(../../../../assets/images/bg-faq.png);
    background-size: cover;
    background-position: center;
}
#faq .container{
    padding:20px 0px;
}
#faq .faq-content{
    text-align:left;
    padding-left:50px;
    padding-bottom:170px; 
}
#faq .faq-content h1{
    text-align:left;
    color:#ffffff;  
    padding-top:30px; 
    padding-bottom:30px;
}
/*Need Help Form*/
#faq-form{
    width:100%;
    background:#ffffff;
}
#faq-form .container{
    padding:20px 20px;  
}
#faq-form .container h3{
    text-align:left;   
}
#faq-form .faq-form-content{
    padding:10px 0px;
    text-align:center;            
}
#faq-form .faq-form-content .faq-form-control{
    height:120px;             
}
/*Resource Item*/
#faq-item{
    width:100%;
    background:#ffffff; 
}
#faq-item .container{
    padding:20px 20px;  
}
#faq-item .container h3{
    text-align:left;   
}
#faq-item .faq-item-content{
    padding:10px 0px;
    text-align:center;            
}
#faq-item .faq-item-content .card{
    margin:5px 0px;            
}
/*End FAQ Part*/
/****************/


/****************/
/*Static Industry Page*/
#industry-part{
    width:100%;      
}
/*Industry Head*/
#industry-head{
    width: 100%;
    opacity:0.7;
}
#industry-head.aerospace{
    background:url(../../../../assets/images/static-industry/On-Demand-Aerospace-3DUsher.png);
    background-size: cover;
    background-position: center;
}
#industry-head.architecture{
    background:url(../../../../assets/images/static-industry/On-Demand-Architecture-3DUsher.png);
    background-size: cover;
    background-position: center;
}
#industry-head.automotive{
    background:url(../../../../assets/images/static-industry/On-Demand-Automotive-3DUsher.png);
    background-size: cover;
    background-position: center;
}
#industry-head.education{
    background:url(../../../../assets/images/static-industry/On-Demand-Education-3DUsher.png);
    background-size: cover;
    background-position: center;
}
#industry-head.gifting{
    background:url(../../../../assets/images/static-industry/On-Demand-Gifting-3DUsher.png);
    background-size: cover;
    background-position: center;
}
#industry-head.manufacturing{
    background:url(../../../../assets/images/static-industry/On-Demand-Manufacturing-3DUsher.png);
    background-size: cover;
    background-position: center;
}
#industry-head.med-tech{
    background:url(../../../../assets/images/static-industry/On-Demand-Medical-3DUsher.png);
    background-size: cover;
    background-position: center;
}
#industry-head.product-design{
    background:url(../../../../assets/images/static-industry/On-Demand-ProductDesign-3DUsher.png);
    background-size: cover;
    background-position: center;
}
#industry-head .container{
    padding:20px 0px;
}
#industry-head .industry-head-content{
    text-align:left;
    padding-left:50px;
    padding-bottom:170px; 
}
#industry-head .industry-head-content h1{
    text-align:left;
    color:#ffffff;  
    padding-top:30px; 
    padding-bottom:30px;
}
/*Industry Block*/
#industry-block{
	width: 100%; 	
    background:#fff;
}
#industry-block .container{
    padding:20px 20px;
}
#industry-block .center-align{
    text-align:center !important; 
}
#industry-block .industry-block-content{
    text-align:center; 
}
#industry-block .industry-block-content h4{
    color:#5c98bd; 
    text-align:left; 
    padding: 20px 0px;
}
#industry-block .industry-block-content p{
    padding: 10px 0px;
}
#industry-block .industry-block-icon{
    border: 2px solid #d8d9d9;
    width:160px;
    height:200px;
    padding-top:30px;
    margin:0px auto;
    text-align:center;
    transition: all 0.3s ease;
}
#industry-block .industry-block-icon:hover{
    box-shadow: 1px 1px 10px #B6B5B5;
}
#industry-block .industry-block-icon img, p{
    transition: all 0.3s ease;
}
#industry-block .industry-block-icon:hover img{
    transform: scale(1.2);
}
#industry-block .industry-block-icon:hover p{
    color: #5c98bd;
}
#industry-block .industry-block-image{
    text-align:center; 
}
#industry-block .industry-block-image img{
    text-align:center; 
}
/*End Static Industry Page*/
/****************/

/****************/
/*Calculator Page*/
#usc-part{
    width:100%;
}
#usc-part h3{
    margin:0px 0px;
    padding:20px 0px;  
}
#usc-part hr{
    margin-top:5px; 
    margin-bottom:5px; 
}
#usc-input{
    background:#ffffff; 
}
#usc-input .container{
    padding:20px 20px;  
}
#usc-input .form-group{
    margin:15px 10px; 
    position:relative;
}
#usc-input .form-group .form-control{
    outline:none;
    border:none;
    box-shadow:none;
    border-radius:0px;
    padding-bottom:0px; 
    padding-left:0px;
    background:transparent;    
    border-bottom:1px solid #747474;
}
#usc-input .form-group label{
    left:0;
    top:5px;
    color:#ced4da;
    transition:.7s;
    position:absolute;
    pointer-events:none;  
}
#usc-input .form-group input:focus,
#usc-input .form-group input:valid{
    border-bottom:1px solid #5c89bd;
}
#usc-input .form-group input:focus ~ label,
#usc-input .form-group input:valid ~ label{
    top:-16px;
    color:#454545;
}
#usc-output{
    background:#ffffff; 
}
#usc-output .container{
    padding:20px 20px;  
}
#usc-output p{
    margin-top:5px; 
    margin-bottom:5px; 
    text-align:center;
}
#usc-output .box-details{
    margin:5px 5px;
    padding:3px 3px;
    text-align:center;
    border-radius:4px;  
    border:1px solid rgba(0, 0, 0, 0.2);
}
#usc-output .box-details p span{
    color:#747474; 
    font-size:13px; 
}

/*End Calculator Page*/
/****************/

/*Tracking Page*/
/****************/
#tracking-part{
    width:100%;
}
#tracking-part #tracking-block{
    background:#ffffff; 
}
#tracking-part #tracking-block .container{
    padding:20px 20px;  
}
#tracking-part h3{
    margin:0px 0px;
    padding:20px 0px;  
}
#tracking-part p{
    margin:0px 0px; 
    padding:0px 0px 0px 0px;  
}
#tracking-part hr{
    margin-top:5px; 
    margin-bottom:5px; 
}
#tracking-part .text-custom{
    color:#5c89bd;
}
#tracking-part .light-custom{
    color:#747474;  
}
#tracking-part .font-sm{
    font-size:14px;
    letter-spacing:0.3px;   
}
#tracking-block .product-block{
    padding:10px 5px;  
}
#tracking-block .product-block .client-detail,
#tracking-block .product-block .product-detail,
#tracking-block .product-block .shipping-detail{
    padding:0px 5px;  
    border-radius:3px;
    border:1px solid rgba(0, 0, 0, 0.1);  
}
#tracking-block .contact-block p{
    letter-spacing:0.5px;   
}



#tracking-part1{
    width:100%;
}
#tracking-part1 #tracking-block1{
    background:#ffffff; 
}
#tracking-part1 #tracking-block1 .container{
    padding:20px 20px;  
}
#tracking-part1 h3{
    margin:0px 0px;
    padding:20px 0px;  
}
#tracking-part1 p{
    margin:0px 0px; 
    padding:0px 0px 0px 0px;  
}
#tracking-part1 hr{
    margin-top:5px; 
    margin-bottom:5px; 
}
#tracking-part1 .text-custom{
    color:#5c89bd;
}
#tracking-part1 .light-custom{
    color:#747474;  
}
#tracking-part1 .font-sm{
    font-size:14px;
    letter-spacing:0.3px;   
}
#tracking-part1 .product-block{
    padding:10px 5px;  
}
#tracking-block1 .product-block .client-detail{
    padding:5px 5px;  
}
#tracking-block1 .tracking-status p{
    letter-spacing:0.5px;   
}
#tracking-block1 .tracking-status .breadcrumb{
    background:#fafafa;
}
#tracking-block1 .tracking-status .breadcrumb-item + .breadcrumb-item::before {
    content:">";
    color:#dc3545;
    padding:0px 25px;  
}
/*End Tracking Page*/
/****************/