/*Authentication*/
#authentication-body{
    width:100%;
    height:100%;
    margin:0px 0px;
    padding:0px 0px;
    background:#ffffff;
}
/*Register*/
#register-part{
    width:100%;    
}
#register-part .register-image{
    width:40%;
    height:100%;
    position:fixed; 
    background-position: center;
    background-size:cover;
    background-image:url(../../../../assets/images/bg-register.png); 
    padding:200px 10px; 
}
#register-part .register-image img{
    width:100%;
    max-width:300px; 
    height:auto;
    display:block; 
    margin:auto; 
}
#register-part .register-image p{
    color: #ffffff; 
    text-align: center;   
}
#register-part .register-detail-image img{
    max-height:100px;
}
#register-part .register-content{
    width:60%; 
    margin-left:40%;
}
#register-part .register-content .register-detail{
    padding:0px 20px;
}
#register-part .register-detail .register-detail-image,
#register-part .register-detail .register-detail-image img{
    text-align:center;  
}
#register-part .register-footer{
    padding:5px 0px; 
}
#register-part .register-footer p{
    text-align:center;
    margin:0px 0px;   
}

/*login*/
#login-part{
    width:100%;
    height:100%;  
    background:#ffffff; 
}
#login-part .login-block{
    padding:30px 20px;  
}
#login-part .login-image,
#login-part .login-image img{
    text-align:center; 
}
#login-part .#login-content{
    padding:10px 10px;
}
#login-part .login-footer{
    text-align:center; 
    padding:5px 0px; 
}
#login-part .login-footer .footer-content p{
    text-align:center;
    margin:0px 0px;   
}

/*Start Project Part*/
#startproject-part{
    background:#ffffff;
}
#startproject-part .container{
    padding:20px 20px;  
}
#startproject-part .container h3{
    font-size: 24px;
    font-weight: 600;
    letter-spacing:1px;
    font-family:HelveticaNeue-Thin;  
}
#startproject-part .startproject-content{
    padding:20px 0px;
    text-align:center; 
}
#startproject-part .startproject-content img{
    height:75px; 
    transition: all 0.5s;
}
#startproject-part .startproject-content p{
    color:#ababab;
    font-size:18px; 
    font-weight:400;
    text-align:center;
    margin:20px 0px;   
    letter-spacing:0.5px; 
}
#startproject-part .startproject-content h5{
    width:250px; 
}
#startproject-part .start-design:hover,
#startproject-part .start-manufacture:hover{
    box-shadow: 1px 3px 20px #B6B5B5;
}
#startproject-part .vr-divider{
    top:0;
    right:0;
    bottom:0;
    width:1px;
    position:absolute;
    background:#979797;
}    

/*Overview Count*/
#overview-count{
    background:#ffffff;
}
#overview-count .container{
    padding:30px 0px 30px 0px; 
}
#overview-count .overview-count-content{
    padding:20px 0px 20px 20px; 
}
#overview-count .overview-count-content .fas{
    color:#5c89bd; 
}
#overview-count .overview-count-content h4{
    color:#5c89bd;
    font-size:20px;
    padding-bottom:6px;   
}
#overview-count .overview-count-content p{
    font-size:14px;
    line-height:18px;
    letter-spacing:0.2px;
}

/*Upload Part*/
#upload-part{
    background:#ffffff;  
}
#upload-part .container{
    padding:30px 10px   
}
#upload-part .upload-content{
    padding:25px 10px;   
    text-align:center;
}
#upload-part .upload-content .login-modal-btn{
    color: #333333;
    font-size: 17.5px;
    line-height: 20px;
    padding:11px 19px;
    text-align:center;
    display:inline-block;
    vertical-align:middle;
    border: 1px solid #bbbbbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-color: #c5c5c5;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
#upload-part .upload-btn{
    margin:15px 0px;
}
#upload-part .upload-btn .hide{
    display:none;
}
#upload-part .upload-btn .btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #bbbbbb;
    border-color: #c5c5c5;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#upload-part .upload-btn .btn-large {
    padding: 11px 19px;
    font-size: 17.5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#upload-part .display-file{
    padding:5px 5px;   
    text-align:center;
}
#upload-part .display-file-content{
    margin:20px 0px;
    box-shadow:0px 0px 5px 2px #e6e6e6; 
}
#upload-part .display-file-content p{
    margin:0px;
    padding:1px 25px;
    text-align:left;
}
#upload-part .display-file-content p:nth-child(1){
    font-size:14px;
    font-weight:600;
    letter-spacing:0.5px;   
}
#upload-part .display-file-content p:nth-child(2){
    font-size:12px;
    letter-spacing:0.5px; 
}
#upload-part .upload-msg-block{
    margin:10px 0px; 
}
#upload-part .upload-msg-content{
    padding:20px 0px;
    text-align:center; 
}
#upload-part .vr-divider{
    top:0px;
    right:0;
    bottom:0;
    width:1px;
    position:absolute;
    background:#979797;
}

/*************************/
/*Cart Part*/
#cart-part{
    background:#ffffff;  
}
#cart-part .container{
    padding:20px 5px   
}
#cart-part .upload-file-content{}
#cart-part .upload-info{
    border: 3px solid rgba(0,0,0,.03);
    background: #ffffff;
    padding: 10px 10px;
    border-radius: 5px
}
#cart-part .upload-btn{
    text-align:center; 
    border: 3px solid rgba(0,0,0,.03);
    border-radius:5px;  
    background:rgba(0,0,0,.03);
}
#cart-part .upload-btn .hide{
    display:none;
}
#cart-part .upload-btn .btn {
    display: inline-block;
    padding: 58px 20px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border:none;
    transition:1s; 
}
#cart-part .upload-btn .btn:hover {
    background:rgba(0,0,0,.03); 
}
#cart-part .cad-content{
    padding:5px 0px;   
    text-align:center;
}
#cart-part .cad-content .card{
    margin:5px 0px;
}
#cart-part .card .card-header{
    padding-top:5px;   
    padding-bottom:5px;   
}
#cart-part .card .card-header h4{
    font-size:14px;
    font-weight:500;
    letter-spacing:0.5px;
    text-align:left;    
}
#cart-part .card .card-header p{
    font-size:12px;
    letter-spacing:0.5px;
    margin-bottom:0px; 
}
#cart-part .card .card-header .collapse-btn:after {
  content: "\2796";
}
#cart-part .card .card-header .collapsed:after {
   content: '\02795';
}
#cart-part .card-body .cad-info h4{
    font-size:14px;
    font-weight:500;
    letter-spacing:0.5px;
    text-align:left;    
}
#cart-part .card .card-header p{
    font-size:12px;
    letter-spacing:0.5px;
    margin-bottom:0px; 
}
#cart-part .card .card-body{
    padding:10px 10px; 
}
#cart-part .card .cad-view{
    height:320px; 
    border-radius:5px;
    background:rgba(0,0,0,.03);
    border:1px solid rgba(0,0,0,.03);  
}
#cart-part .card .cad-view iframe{
    border:0px;
    width:100%; 
    height:100%;
}
/*3D View */
#cart-part .card .cad-info{
    font-size:14px;
    font-weight:500; 
    letter-spacing:0.5px;
}
#cart-part .cart-content{
    margin:10px 0px; 
    border-radius:5px;
    text-align:left; 
    border:1px solid rgba(0,0,0,.125);  
}
#cart-part .sticky-offset{
    top:110px;
}
#cart-part .cart-header{
    padding:10px 5px; 
    background:rgba(0,0,0,.03);  
    border-bottom:1px solid rgba(0,0,0,.125);
}
#cart-part .cart-header h4{
    text-align:left; 
    padding:0px 5px;
}
#cart-part .cart-body{
    padding:5px 5px;
}
#cart-part .cart-body h4{
    text-align:left;          
    padding:5px 5px;
}

/*Checkout Part*/
#checkout-part{
    background:#fafafa; 
}
#checkout-part .container{
    padding:20px 20px;   
}
#checkout-part .checkout-content{
    padding:5px 0px;   
    text-align:center;
}
#checkout-part .checkout-content h4,
#checkout-part .checkout-content label{
    text-align:left;
}
#checkout-part .checkout-content select{
    height:50px;
}
/*End Checkout Part*/
/*************************/

/*************************/
/*Summary Part*/
#summary-part{
    background:#ffffff; 
}
#summary-part .container{
    padding:20px 20px;   
}
#summary-part .summary-content{
    padding:5px 5px;
    margin:5px 0px;
    border-radius:5px;
}
#summary-part .summary-content.summary-header{
    background:#fafafa;  
}
#summary-part .summary-content.summary-body{
    background:#ffffff;
    border: 1px solid rgba(0,0,0,.125);  
}
#summary-part .summary-content .form-radio{
    padding:5px 5px; 
}
#summary-part .summary-content .form-radio .radio-label{
    display: block;
    position: relative;
    padding-left:22px;
    letter-spacing:0px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
#summary-part .summary-content .form-radio .radio-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
#summary-part .summary-content .form-radio .radio-round{
    position: absolute;
    top:0;
    left:0;
    height:18px;
    width:18px;
    background-color:#ddd;
    border:1px solid #ddd;
    border-radius:100%;
}
#summary-part .summary-content .form-radio .radio-round:after {
    content: "";
    left:3px;
    top:3px;
    width:10px;
    height:10px;
    display: none;
    position: absolute;
    border-radius:100%;
    background: #5c98bd;
}
#summary-part .summary-content .form-radio .radio-input:checked ~ .radio-round:after {
    display: block;
}
#summary-part .summary-content h4{
    text-align:left;
}
#summary-part .summary-content p{
    font-size:13px;
    text-align:left;
    letter-spacing:0px;  
}
#summary-part .summary-content .pay-btn{
    text-align:center;
}
#summary-part .cad-quantity .page-link{
    color:#000000;
    font-size:14px;
    font-weight:500;
}
#summary-part .cad-quantity .page-link-none{
    border:none; 
}
#summary-part .cad-quantity .rounded-circle{
    font-size:10px;
    border:1px solid #dee2e6;  
}
#summary-part .stripe-logo{
    text-align:center;   
}
#summary-part .stripe-logo img{
    height:20px;    
}
#summary-part .price-content{
    margin: 10px 0px;
    border-radius: 5px;
    text-align: left;
    border: 1px solid rgba(0,0,0,.125);
}
#summary-part .sticky-offset{
    top:110px;
}
#summary-part .price-header{
    padding:5px 5px; 
    background:rgba(0,0,0,.03);  
    border-bottom:1px solid rgba(0,0,0,.125);
}
#summary-part .price-header h4{
    text-align:left; 
    padding:0px 5px;
}
#summary-part .price-body{
    padding:5px 5px;
}
#summary-part .price-body h4{
    text-align:left;          
    padding:5px 5px;
}
/*End Summary Part*/
/*************************/

/*************************/
/*Design Part*/
/*Describe Project*/
#describe-design-part{
    background:#ffffff; 
}
#describe-design-part .container{
    padding:20px 20px;  
}
#describe-design-part .industry-content{
    text-align:center;
    margin:20px 0px;
    padding: 5px 0px;
}
#describe-design-part .industry-content:hover{
    cursor: pointer;
}
#describe-design-part .industry-content img{
    transition: all 0.3s ease;
}
#describe-design-part .industry-content:hover img{
    transform: scale(1.1);
}
#describe-design-part .industry-content h4{
    padding: 10px 0px;     
}
#describe-design-part .industry-content p{
    text-align:center;      
}
#describe-design-part .project-detail-content .form-group{
    margin:30px 0px;         
}
#describe-design-part .project-detail-content .form-control{
    margin:10px 0px; 
}
#describe-design-part .project-detail-content h4{
    color:#5c98bd;
    text-align:left;
    margin-bottom:0px;         
}
#describe-design-part .project-detail-content p{
    text-align:left;        
    margin-bottom:0px; 
}
#describe-design-part .project-detail-content span{
    font-size:13px; 
    text-align:left;        
}
#project-detail-content .textarea-form-group{
    position: relative;
}
#describe-design-part .project-detail-content .textarea-form-group textarea{
    height:110px;       
}
#describe-design-part .project-detail-content .textarea-form-group div{
    position:absolute;
    bottom: 0px;
    right:3px;
}
#describe-design-part .radio-content{ 
    text-align:center; 
    margin: 10px 0px;
}
#describe-design-part .radio-content [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
#describe-design-part .radio-content img { 
    transition: all 0.3s ease;
}
#describe-design-part .radio-content [type=radio] + img {
    width:120px; 
    cursor:pointer;
}
#describe-design-part .radio-content [type=radio]:hover + img { 
    transform: scale(1.1);
}
#describe-design-part .radio-content [type=radio]:checked + img {
    outline: 4px solid #747474;
}
#describe-design-part .custom-group-dropdown{
    height:44px;
    border-left:unset;  
}
#describe-design-part .upload-btn .hide{
    display:none;
}
#describe-design-part .upload-btn .btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #bbbbbb;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#describe-design-part .upload-btn .btn {
    border-color: #c5c5c5;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
#describe-design-part .upload-btn .btn-large {
    padding: 11px 19px;
    font-size: 17.5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#describe-design-part .display-file{
    padding:5px 5px;   
    text-align:center;
}
#describe-design-part .display-file-content{
    margin:10px 0px;
    box-shadow:0px 0px 5px 2px #e6e6e6; 
}
#describe-design-part .display-file-content p{
    margin:0px;
    padding:1px 25px;
    text-align:left;
}
#describe-design-part .display-file-content p:nth-child(1){
    font-size:14px;
    font-weight:600;
    letter-spacing:0.5px;   
}
#describe-design-part .display-file-content p:nth-child(2){
    font-size:12px;
    letter-spacing:0.5px; 
}

/*Design Prject Overview*/
#design-overview-part{
    background:#ffffff; 
}
#design-overview-part .container{
    padding:20px 20px;  
}
#design-overview-part .design-overview-content{
    background: #fafafa;
    padding: 5px 10px 0px 10px;
    border-radius: 2px;
    margin: 10px 0px;
}
#design-overview-part .design-overview-content p span{
    color:#747474;
}
#design-overview-part .design-overview-content h4{
    text-align: left;
}
/*Design Prject Confirmation*/
#design-confirmation-part{
    background:#ffffff; 
}
#design-confirmation-part .container{
    padding:20px 20px;  
}
#design-confirmation-part .design-confirmation-content{
    background: #fafafa;
    padding: 5px 10px 0px 10px;
    border-radius: 2px;
    margin: 10px 0px;
}
#design-confirmation-part .design-confirmation-block p{
    margin:45px 0px;
}

/*************************/
/*Project Part*/
/*Project Form*/
#project-part{
    background:url(../../../images/bg-project.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#project-part .container-fluid{
    background-color: #0f2130;
    padding:0px 0px 25px 0px; 
}
#project-part .container-fluid h3{
    color: #ffffff;
    text-align: left;
    font-size: 34px;
}
#project-part .nav-pills .nav-item{
    background-color: #ffffff;
    padding: 0px 30px;
    min-width: 150px;
}
#project-part .nav-pills .nav-link.active, 
#project-part .nav-pills .show>.nav-link{
    background-color: #5c89bd;
    color: #ffffff;
}
#project-part .nav-pills .basic-details-link{
    width: 33.33%;
    clip-path: polygon(0% 0%, 92% 0%, 100% 50%, 92% 100%, 0% 100%);
    background-color: #5c89bd;
}
#project-part .nav-pills .contact-details-link,
#project-part .nav-pills .additional-details-link{
    width: 33.33%;
    position: relative;
    clip-path: polygon(0% 0%, 92% 0%, 100% 50%, 92% 100%, 0% 100%,8% 50%);
}
#project-part .nav-pills .additional-details-link{
    left: -20px;
}
#project-part .nav-pills .contact-details-link{
    left: -40px;
}
#project-part .container{
    padding:20px 20px;  
}
#project-part .basic-details,
#project-part .additional-details,
#project-part .contact-details{
    box-shadow: 1px 2px 20px #ccc;
    background-color: #ffffff;
    padding:20px 20px; 
}
#project-part .form-group{
    margin:30px 0px;         
}
#project-part .form-control{
    margin:10px 0px; 
}
#project-part h4{
    color:#5c98bd;
    text-align:left;
    margin-bottom:0px;         
}
#project-part p{
    text-align:left;        
    margin-bottom:0px; 
}
#project-part span{
    font-size:13px; 
    text-align:left;        
}
#project-part .textarea-form-group{ 
    position: relative;
}
#project-part .textarea-form-group textarea{
    height:110px;       
}
#project-part .textarea-form-group div{
    position:absolute;
    bottom:0px;
    right:10px;
}
#project-part .additional-details .psq-content{
    margin:10px 0px 0px 0px; 
}
#project-part .additional-details .psq-content .psq-label{
    color: #111;
    cursor: unset;
    margin: 0px 0px;
    background: transparent;
    border: 1px solid #5c98bd;
}
#project-part .additional-details .psq-content .psq-btn{
    color:#ffffff;
    cursor:move; 
    background:#5c98bd; 
    border:1px solid #5c98bd; 
}
#project-part .additional-details .upload-btn .hide{
    display:none;
}
#project-part .additional-details .upload-btn .btn {
    display: inline-block;
    padding:11px 19px;
    margin:10px 0px;
    font-size: 17.5px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #bbbbbb;
    border-color: #c5c5c5;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#project-part .additional-details .display-file{
    padding:5px 5px;   
    text-align:center;
}
#project-part .additional-details .display-file-content{
    margin:10px 0px;
    box-shadow:0px 0px 5px 2px #e6e6e6; 
}
#project-part .additional-details .display-file-content p{
    margin:0px;
    padding:1px 25px;
    text-align:left;
}
#project-part .additional-details .display-file-content p:nth-child(1){
    font-size:14px;
    font-weight:600;
    letter-spacing:0.5px;   
}
#project-part .additional-details .display-file-content p:nth-child(2){
    font-size:12px;
    letter-spacing:0.5px; 
}
/*Project Confirmation*/
#confirmation-part{
    background:#ffffff; 
}
#confirmation-part .container{
    padding:20px 20px;  
}
#confirmation-part .confirmation-content{
    background: #fafafa;
    padding: 5px 10px 0px 10px;
    border-radius: 2px;
    margin: 10px 0px;
}
#confirmation-part .confirmation-block p{
    margin:45px 0px;
}
/*End Project Part*/
/*************************/

/*************************/
/*User Dashboard Part*/
#user-dashboard-part{
    width:100%; 
    background:#f5f6fa;
}
#user-dashboard-part .sidebar-content,
#user-dashboard-part .user-dashboard-content{
    padding:15px 0px;         
}
#user-dashboard-part .user-dashboard-content h3{
    text-align:left;  
}

/*Sidebar Part*/
.custom-sidebar .user-panel{
    background:#fff;
    padding:10px 5px;     
}
.custom-sidebar .user-icon{
    background: rgba(27, 110, 255, 0.3);
    padding: 7px 11px;
    border-radius: 50%;
}
.custom-sidebar .user-panel h4{
    text-align:left; 
    margin:0px 0px; 
}
.custom-sidebar .user-panel-mobile{
    position: absolute;
    top: 50px;
    right: 30px;
}
.custom-sidebar .user-panel-mobile:hover{
    cursor: pointer;
}
.custom-sidebar .user-menu{
    position: relative;
}

/*Account Part*/
.account-part .account-content{
    background:#fff;
    padding:10px 15px; 
}
.notification-content label { 
    margin-bottom:0px; 
}
.notification-content .switch input { 
    display:none;
}
.notification-content .switch {
    display:inline-block;
    min-width:40px;
    height:15px;
    margin:-5px 5px 0px 0px;
    transform:translateY(50%);
    position:relative;
}
.notification-content .slider {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    border-radius:30px;
    box-shadow:0 0 0 2px #777, 0 0 4px #777;
    cursor:pointer;
    border:2px solid transparent;
    overflow:hidden;
    transition:.4s;
}
.notification-content .slider:before {
    position:absolute;
    content:"";
    top:2px;
    right:-5px;
    width:8px;
    height:8px;
    background:#777;
    border-radius:30px;
    transform:translateX(-30px);
    transition:.4s;
}
.notification-content input:checked + .slider:before {
    transform:translateX(30px);
    background:#32CD32;
    right:32px; 
}
.notification-content input:checked + .slider {
    box-shadow:0 0 0 2px #32CD32,0 0 2px #32CD32;
}

/*Manufacturing Part*/
.manufacturing-content{
    background:#fff;
    padding:10px 15px;    
}
.manufacturing-content h3{
    margin:5px 0px;    
}
.manufacturing-content .order-content{
    margin:10px 0px;
}
.manufacturing-content .order-header{
    padding: 5px 5px;
    text-align: center;
    background:#fcfcfc;
    border: 1px solid #dcdcdc;
}
.manufacturing-content .order-header h4{
    color:#ffffff;
    font-size:14px;
    font-weight:500; 
    background:#5c98bd;
    padding:10px 10px;      
    margin-bottom:0px; 
    letter-spacing:0.2px; 
    font-family:'Roboto', sans-serif;
}
.manufacturing-content .order-header a,
.manufacturing-content .order-header a:active{
    width: auto;
    height: auto;
    color:#a9a9a9; 
    background: transparent;
    padding: 10px 15px;
    border-radius: 0px;
    border:1px solid #a9a9a9;
}
.manufacturing-content .order-body{
    padding: 10px 5px;
    text-align: center;
    background:#fcfcfc; 
    border-bottom: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
}
.manufacturing-content .order-body h4{
    color:#505050;
    font-size:14px;
    font-weight:500;
    letter-spacing:1px;
    font-family:'Roboto', sans-serif;
}
.manufacturing-content .order-body .manu-design{
    text-align:left; 
}
.manufacturing-content .order-body p{
    font-size:13px;
    margin-bottom:5px;
    letter-spacing:0px; 
    color:#a9a9a9; 
}
.manufacturing-content .order-footer{
    padding: 5px 10px;
    text-align: center;
    background:#fcfcfc;
    border-bottom: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
}
.manufacturing-content .order-footer h4{
    color:#111111;
    font-size:15px;
    font-weight:500; 
    letter-spacing:0.2px;
    margin:0px 0px;  
    font-family:'Roboto', sans-serif; 
}
.manufacturing-content .order-footer h4 span{
    color:#a9a9a9;
    font-size:14px;
}
.manufacturing-content .message-span{
    color:#98c1ed;  
}

/*Design Part*/
.design-part{
    background:#fff;
    padding:10px 15px;    
}
.design-part .design-content{
    margin:10px 0px;
}
.design-part .design-header{
    padding: 5px 5px;
    text-align: center;
    background:#fcfcfc;
    border: 1px solid #dcdcdc;
}
.design-part .design-header h4{
    color:#ffffff;
    font-size:14px;
    font-weight:500; 
    background:#5c98bd;
    padding:10px 10px;      
    margin-bottom:0px; 
    letter-spacing:0.2px; 
    font-family:'Roboto', sans-serif; 
}
.design-part .design-header a{
    width: auto;
    height: auto;
    color:#a9a9a9; 
    background: transparent;
    padding: 10px 15px;
    border-radius: 0px;
    border:1px solid #a9a9a9;
}
.design-part .design-body{
    padding: 10px 5px;
    text-align: center;
    background:#fcfcfc; 
    border-right: 1px solid #dcdcdc;
    /*border-bottom: 1px solid #dcdcdc;*/
    border-left: 1px solid #dcdcdc;
}
.design-part .design-body h4{
    color:#505050; 
    font-size:14px;
    font-weight:500; 
    letter-spacing:1px; 
    font-family:'Roboto', sans-serif;  
}
.design-part .design-body .manu-design{
    text-align:left; 
}
.design-part .design-body p{
    font-size:13px;
    margin-bottom:5px;
    letter-spacing:0px; 
    color:#a9a9a9;
}
.design-part .design-footer{
    padding: 5px 10px;
    text-align: center;
    background:#fcfcfc;
    border: 1px solid #dcdcdc;
}
.design-part .design-footer h4{
    color:#111111;
    font-size:15px;
    font-weight:500; 
    letter-spacing:0.2px;
    margin:0px 0px;  
    font-family:'Roboto', sans-serif; 
}
.design-part .design-footer h4 span{
    color:#a9a9a9;
    font-size:14px;
}
.design-part .message-span{
    color:#98c1ed;  
}

/*Setting Part*/
.setting-part .setting-content{
    background:#fff;
    padding:10px 15px;    
}



/*Manufacture Details*/
#manufacture-part{
    background:#ffffff; 
}
#manufacture-part h3{
    margin:0px 0px;  
    padding:10px 0px;  
}
#manufacture-part .tickmark{
    width:20px;
    height:20px;
    border-radius:50%;
    display:inline-block;
    background-color:#ddd;
    position:relative; 
}
#manufacture-part .tickmark:after {
    content: "";
    left:7px;
    top:2px;
    width:8px;
    height:14px;
    display:none; 
    position: absolute;
    border:solid #5c98bd;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
#manufacture-part .d-tickmark:after {
    display:block;
}
#manufacture-part .form-radio{
    padding:5px 5px; 
}
#manufacture-part .form-radio .radio-label{
    display: block;
    position: relative;
    padding-left:22px;
    letter-spacing:0px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
#manufacture-part .form-radio .radio-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
#manufacture-part .form-radio .radio-round{
    position: absolute;
    top:0;
    left:0;
    height:18px;
    width:18px;
    background-color:#ddd;
    border:1px solid #ddd;
    border-radius:100%;
}
#manufacture-part .form-radio .radio-round:after {
    content: "";
    left:3px;
    top:3px;
    width:10px;
    height:10px;
    display: none;
    position: absolute;
    border-radius:100%;
    background: #5c98bd;
}
#manufacture-part .form-radio .radio-input:checked ~ .radio-round:after {
    display: block;
}
#manufacture-part .container{
    padding:10px 5px;  
}
/*File Upload Component*/
#manufacture-part .file-upload-component{
    margin:5px 0px; 
}
#manufacture-part .upload-info-block{
    border: 3px solid rgba(0,0,0,.03);
    background: #ffffff;
    padding:20px 10px;
    border-radius:5px;
    margin-top:10px; 
}
#manufacture-part .file-upload-block{
    margin-top:10px; 
    padding:23px 10px; 
    text-align:center; 
    border-radius:5px;  
    background:#ffffff;
    border: 15px solid rgba(0,0,0,.03);
}
#manufacture-part .file-upload-block .file-upload-btn{
    padding:30px 20px; 
}
#manufacture-part .file-upload-btn .hide{
    display:none;
}
#manufacture-part .file-upload-btn .btn{
    display: inline-block;
    padding: 15px 50px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color:#ffffff;
    text-align:center;
    vertical-align: middle;
    cursor: pointer;
    border:1px solid #5c98bd;
    border-radius:5px;
    background:#5c98bd;
}
#manufacture-part .file-upload-btn .btn:hover {
    color:#5c98bd;
    background:#ffffff;     
}
/*File Detail Component*/
#manufacture-part .file-detail-component{
    margin:5px 0px; 
}
#manufacture-part .additional-upload-btn{
    margin:0px 0px 10px;
    padding:0px 0px; 
}
#manufacture-part .additional-upload-btn .btn{
    padding:43px 0px;  
    border-radius:5px; 
    background:#ffffff;
    transition:1s; 
    border: 3px solid rgba(0, 0, 0, 0.03);
}
#manufacture-part .additional-upload-btn .btn:hover{
    background:rgba(0, 0, 0, 0.03);  
}
#manufacture-part .file-detail-block{
    border-radius:5px;  
    border:15px solid rgba(0, 0, 0, 0.03);
}
#manufacture-part .file-detail-block h4{
    margin:0px 0px;
    padding:10px 0px; 
}
#manufacture-part .file-detail-block h4.font-custom{
    font-size:14px; 
}
#manufacture-part .file-detail-content{
    height:390px; 
    border-right:10px solid rgba(0, 0, 0, 0.03);
}
#manufacture-part .file-detail-content .cad-view iframe{
    width:100%;
    height:260px;
    border:none;
}
#manufacture-part .file-detail-content .cad-detail{
    padding:6px 10px; 
}
#manufacture-part .file-detail-content .cad-detail{
    padding:4px 10px; 
    background:rgba(0, 0, 0, 0.01); 
}
#manufacture-part .file-detail-content .cad-detail small{
    font-size:13px; 
    margin:0px 0px;  
    padding:2px 0px;  
}
#manufacture-part .file-detail-content .cad-detail select{
    border:none;
    outline:none;
    padding:0px 0px; 
    box-shadow:none;
    background:transparent;    
    border-bottom:1px solid #000;
}
#manufacture-part .file-detail-content .cad-detail select:hover{
    cursor:pointer; 
    border-bottom:1px solid transparent;
}
#manufacture-part .file-detail-content .cad-detail .file-qty{
    width:50%;
    height:30px;   
    padding:2px 10px;  
}
#manufacture-part .bg-file-upload{
    top:160px;
    left:130px;   
    opacity:0.5; 
    position:absolute;
}
#manufacture-part .file-name-content{
    height:390px;
    overflow:auto;
}
#manufacture-part .file-name-content .hide{
    display:none;
}
.file-name-content .mCSB_inside>.mCSB_container{
    margin-right:0px;  
}
.file-name-content .mCSB_scrollTools{
    width:8px; 
    opacity:0; 
}
.file-name-content:hover .mCSB_scrollTools{
    opacity:0.75; 
}
#manufacture-part .file-name-content .nav-tabs{
    border-bottom:0px; 
}
#manufacture-part .file-name-content .nav-link{
    border:0px;
    border-top-left-radius:0px;
    border-top-right-radius:0px;  
}
#manufacture-part .file-name-content .nav-link:after{
    content: "";
    width:93%;
    display:block;
    padding-top:7px;
    position:absolute;
    border-bottom:1px solid #dee2e6;
}
#manufacture-part .file-name-content .nav-link.active:after{
    border-bottom:0px;
}
#manufacture-part .file-name-content .nav-link:hover{
    background:rgba(0, 0, 0, 0.01); 
}
#manufacture-part .file-name-content .nav-link.active{
    background:rgba(0, 0, 0, 0.03); 
    border-top:1px solid #dee2e6;
    border-bottom:1px solid #dee2e6;
}
#manufacture-part .file-name-content .nav-link .delete-btn{
    display:none;
    border:none;
    cursor:pointer; 
    background:transparent;
}
#manufacture-part .file-name-content .nav-link.active .delete-btn{
    display:block;  
}
/*File Preference Component*/
#manufacture-part .preference-component{
    margin:10px 0px;    
}
#manufacture-part .preference-component p{
    margin:0px 0px;
    font-size:14px;  
    padding:4px 0px;
    letter-spacing:0px;
}
#manufacture-part .preference-component .preference-selection-block{
    border:3px solid rgba(0,0,0,.03);
    background: #ffffff;
    padding: 10px 10px;
    border-radius: 5px;
}
#manufacture-part .preference-component .nav-tabs{
    margin:5px 0px 0px 0px;
    border:0px; 
}
#manufacture-part .preference-component .nav-item{
    margin:0px 5px; 
}
#manufacture-part .preference-component .nav-link{
    color:#747474; 
    border-radius:3px;
    border:1px solid rgba(0, 0, 0, 0.3);
}
#manufacture-part .preference-component .nav-link.active,
#manufacture-part .preference-component .nav-link:hover{
    color:#5c98bd; 
    border:1px solid #5c98bd; 
}
#manufacture-part .preference-component .question-selection-block{
    border: 3px solid rgba(0,0,0,.03);
    background: #ffffff;
    padding: 10px 10px;
    border-radius: 5px;
}
#manufacture-part .question-selection-block .question-content p{
    font-size:16px; 
}
/*Question Materials*/
#manufacture-part .question-technology-content,
#manufacture-part .question-material-content{
    padding:10px 10px;
    border-radius:5px;
    background:#ffffff; 
    border:3px solid rgba(0, 0, 0, .03); 
}
#manufacture-part .question-technology-block .col-md-4,
#manufacture-part .question-material-block .col-md-4{
    max-width:238px;
}
#manufacture-part .question-technology-block  label,
#manufacture-part .question-material-block  label{
    width:100%; 
}
#manufacture-part .question-technology-block  label [type=radio], 
#manufacture-part .question-material-block  label [type=radio]{ 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
#manufacture-part .question-technology-block  label [type=radio] + .radio-inline,
#manufacture-part .question-material-block  label [type=radio] + .radio-inline {
    max-width:100%; 
    cursor:pointer;
}
#manufacture-part .question-technology-block  label [type=radio]:checked + .radio-inline,
#manufacture-part .question-material-block  label [type=radio]:checked + .radio-inline {
    color:#28a745; 
    border:1px solid #28a745;
}
#manufacture-part .question-technology-block  .radio-inline,
#manufacture-part .question-material-block  .radio-inline{
    color:#7a7a7a; 
    font-size:16px;
    border-radius:2px; 
    text-align:center;
    padding:10px 2px 10px 2px;
    border:1px solid rgba(0,0,0,0.3);
    transition: all 0.3s ease;
}
#manufacture-part .question-technology-block  .radio-inline-technology,
#manufacture-part .question-material-block  .radio-inline-material{
    font-size: 14px;
}

/*Direct Selection Block*/
#manufacture-part .preference-component .direct-technology-div,
#manufacture-part .preference-component .direct-material-div{
    border: 3px solid rgba(0,0,0,.03);
    background: #ffffff;
    padding: 10px 10px;
    border-radius: 5px;
}

/*Price and Address*/
#manufacture-part .price-block,
#manufacture-part .address-content{
    padding:0px 0px;
    border-radius:5px;
    background:transparent; 
    border:3px solid rgba(0, 0, 0, .03); 
}
#manufacture-part .sticky-offset{
    top:110px;
}
#manufacture-part .price-block .price-header,
#manufacture-part .address-content .address-header{
    padding:10px 5px; 
    background:rgba(0,0,0,.03);  
    border-bottom:1px solid rgba(0,0,0,.03);
}
#manufacture-part .price-block .price-body,
#manufacture-part .address-content .address-body{
    padding:5px 5px;
}
/*End Manufacture Details*/
